<div th:fragment="sidebarFragment">
    <div class="col-md-3 pt-4" style="white-space: nowrap;">
        <a href="#" class="nav-link text-dark d-flex align-items-center pl-3 py-2">
            <span class="mr-2" style="font-size: 1.2rem;">🏠</span>
            <span>홈</span>
        </a>
        <a href="#" class="nav-link text-dark d-flex align-items-center pl-3 py-2">
            <span class="mr-2" style="font-size: 1.2rem;">📄</span>
            <span>공지사항</span>
        </a>
        <a href="#" class="nav-link text-dark d-flex align-items-center pl-3 py-2">
            <span class="mr-2" style="font-size: 1.2rem;">💬</span>
            <span>소통게시판</span>
        </a>
        <a href="#" class="nav-link text-dark d-flex align-items-center pl-3 py-2">
            <span class="mr-2" style="font-size: 1.2rem;">🤝</span>
            <span>크루게시판</span>
        </a>
    </div>
</div>
