<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <style>
        #imagePreview img {
            width: 400px;
            height: 210px;
            object-fit: contain;
            border-radius: 5px;
            margin-bottom: 10px;
            background-color: #f0f0f0;
        }

        #imagePreview {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 10px;
        }

    </style>
</head>

<section layout:fragment="main">
    <div class="row">
        <!-- 사이드바 -->
        <div class="col-md-3 pt-4">
            <h5 class="pl-3">RUNTIME</h5><br>
            <a href="#" class="text-dark pl-3">🏠 홈</a><br><br>
            <a href="#" class="text-dark pl-3">📄 공지사항</a><br><br>
            <a href="#" class="text-dark pl-3">💬 소통게시판</a><br><br>
            <a href="#" class="text-dark pl-3">🤝 크루게시판</a><br><br>
        </div>

        <!-- 본문 -->
        <div class="col-md-9 pt-4">
            <div class="d-flex justify-content-between">
                <h6 class="text-left mb-4 mt-5 fs-6">💬소통게시판</h6>
            </div>

            <div class="mx-auto" style="max-width: 720px;">
                <h4 class="text-center mt-5">새 글 작성</h4>

                <form id="postForm" th:object="${post}" class="mt-4">
                    <button type="submit" class="btn btn-dark btn-sm mb-3 shadow-sm float-right">+ 등록</button>

                    <div class="form-group">
                        <input type="text" id="title" th:field="*{title}" class="form-control"
                               placeholder="제목을 입력하세요" name="title"/>
                    </div>

                    <div class="form-group text-left">
                        <label for="files" class="btn btn-dark d-inline-flex align-items-center">
                            <i class="bi bi-image" style="font-size: 20px;"></i>
                            이미지 선택
                        </label>
                        <input type="file" name="files" id="files" class="d-none" multiple/>
                    </div>

                    <div class="form-group d-flex flex-column align-items-stretch">
                        <div id="imagePreview" class="image-preview-container mt-3"
                             style="border: 1px solid #ccc; padding: 10px; width: 100%; height: 100px; overflow: auto; margin-bottom: 20px;">
                        </div>
                        <textarea th:field="*{content}" class="form-control mb-5" rows="14"
                                  placeholder="내용을 입력하세요" name="content"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/previewImage.js"></script>
    <script src="/js/post.js"></script>
</section>
</html>